micronaut:
  application:
    name: blog
  views:
    enabled: true
  server:
    cors:
      enabled: true
  router:
    static-resources:
      default:
        paths:
          - classpath:views/static
          - classpath:views/img
        mapping: "/static/**"
        enabled: true

datasources:
  default:
    driverClassName: org.postgresql.Driver
    url: jdbc:postgresql://${DATABASE_HOST}/${DATABASE_DB}
    username: ${DATABASE_USER}
    password: ${DATABASE_PASSWORD}

jooq:
  datasources:
    default:
      sql-dialect: postgres
